body { 
    font-size: 18px; 
    line-height: 1.5; 
}

header, 
nav, 
main, 
footer { 
    margin: 1.25rem auto; 
    max-width: 760px; 
}

header, 
footer { 
    background-color: red; 
    color: #fff; 
    text-align: center; 
}

header { 
    padding: 1.5rem; 
}

h1 img { 
    float: right; 
    margin: 10px; 
    border: 1px solid #000; 
    background-color: red; 
}

h2 { 
    text-align: center 
}
