    @media only screen and (min-width: 32.5em) {
    h1 {
    font-size : 2.5rem;
    }
    h2 {
    font-size : 1.5rem;
    }
    header, footer {
    border-radius : 5px;
    }
    main {
    max-width : 950px;
    grid-template-columns : 1fr 1fr;
    }
    section:nth-child(2) {
    grid-column : span 1;
    }
    section:nth-child(3) {
    grid-column : span 2;
    }
}
