h1,
h2 {
    font-family: 'Saira Stencil One', cursive;
    letter-spacing: 0.1em;
    font-size: 1.5rem;
    margin: 0.75rem;
    color: #4D243D;
}

h2 {
    font-size: 1rem;
}

section h2,
h4,
a {
    font-family: 'PT Sans', cursive;
    letter-spacing: 0.1em;
    padding: .3em;
    margin: 0 auto;
    color: #4D243D;
}

header,
footer {
    width: 100%;
    background-color: #264653;
    text-align: center;
    padding: 0.5em;
    font-size: .85em;

}

p {
    font-family: 'PT Sans', cursive;
    letter-spacing: 0.02em;
}

body {
    width: 75%;
    margin: 0 auto;
    background-color: #F6F7EB;
}

.text-addons {
    color: burlywood;
}

.sizing {
    height: 6em;
    text-align: center;
    margin-top: 1em;
}

/*************** Grid Layout Specifications *************/
main {
    max-width: 750px;
    display: grid;
    grid-template-columns: auto;
    font-size: 1rem;
}

main section {
    margin: 0.5em;
    border: 1px solid #264653;
    background-color: rgb(224, 186, 136);
    box-shadow: 3px 3px 30px 3px #264653;

}

main section img {
    padding: 1em;
    width: 90%;
    height: auto;
}

main section p {
    padding: 0.5rem;
}