html {
    font-size:4vw;
    font-family:"Merriweather", serif;
}
body{
    padding:0;
    margin:0;
}

header{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:black;
    color:#d37e00
}
.head{
    display:flex;
    flex-direction:column;
    margin-left:1rem;
}
.head h2{
    font-size:1.5rem;
    margin-bottom:-.8rem;
    color:#d37e00;
}
.head p{
    font-size:.8rem;
    font-family:"Oswald", sans-serif;
    color: #f8fc00
}

nav{
    background-color:#7f9cc4;
    text-align:center;
}
nav button{
    margin:.2rem 2%;
    background-color:transparent;
    border:none;
    font-size:1.6rem;
}
nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}  
nav ul li a{
    padding:.8rem;
    text-decoration:none;
    color:black;
    display:block;
    border-top:2px solid rgba(0, 0, 0, 0.329);
}
nav ul li.active a{
    color:#f8fc00;
    background-color:rgba(0,0,0,.4);
}
nav ul li a:hover{
    color:#f8fc00;
    background-color:rgba(0,0,0,.2);
}
.hide{
    display:none;
}
main{
    padding:0em;
}
main h2{
    color:#d37e00;
    padding:0 0 0 2%
}
/*-------- Form --------*/
form{
    margin:0 auto;
    width:100%;
    max-width:40rem;
}
form fieldset{
    margin:2rem 0 0 2%;
    border:3px solid #7f9cc4;
    border-radius: 20px;
    padding:.5rem 2%; 
}
form legend{
    color:#d37e00;
    margin:0 1rem;
    padding: 0 .5rem
}
form label{
    display:block;
    margin:0 0 .9rem 0;    
}
form label.top{
    display:block;
}
form label.top input:required{
    border-left:red solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}
form label.top input, form label.top select{
    display:block;
}
form label.sbs {
    display:block;
    margin:.4rem 0;
}
form input.submitBtn {
    border:none;
    background-color:#7f9cc4;
    color:#f8fc00;
    border-radius:1rem;
    padding:.75rem 1.5rem;
    margin:1rem 0 1rem 2%;

}
section{
    text-align:center
}
footer{
    background-color:black;
    font-size:3vw;
    padding:.3em;
    color:#d37e00;
    text-align:center;
}

