@media only screen and (min-width: 43em){
    html{
        font-size:2vw;
    }
    nav button{
        display:none;
    }
    nav ul.hide{
        display:flex;
    }
    nav ul {
        display:flex;
        text-align:center; 
        align-content:center;   
    }
    nav ul li {
        flex: 1 1 100%;
        font-size:.5em;
    }
    nav ul li a{
        padding:.8rem;
        border-left:2px solid #b27294(0, 0, 0, 0.3);
    }
    main section{
        grid-template-columns: auto auto;
    }
    
    footer{
        font-size:2vw;
    }
}