header {
    background-color: #c4f8ed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}


h1,
h2,
h3 {
    font-family: 'kaushan Script',
        cursive;
    margin-left: 2%;
}

body {
    font-family: 'Roboto Slab',
        sans-serif;
    size: 16px;
}

main,
footer {
    max-width: 767px;
    margin: 0 auto;
}

.logo-image {
    width: 10em;
    height: auto;
    margin: 2.5%;
}



h1 {
    font-size: 3.6rem;
    color: #aa4586;
}

h2 {
    color: #c0b298;
    font-size: 2rem;

}

h3 {
    color: #FFFF00;
    font-size: 1.5rem;

}

/*Navigaion Styles*/
nav {
    background-color: #b6eea6;
    text-align: center;
    box-shadow: 0 2px 15px gray;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.45rem;
    text-decoration: none;
    font-size: 1.20rem;
}

#active {
    color: #b27294;
}

.navigation li:first-child {
    display: block;
}

.navigation li,
.dropdown {
    display: none;
}

.responsive li {
    display: block;
}

.dropdown .dropbtn,
.dropbtn a {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #2F303F;
    font-family: inherit;
    margin: 0;
    width: 20%;
    text-decoration: none;
}

nav a:hover,
.dropdown:hover,
.dropbtn:hover {
    background-color: #984cac;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2F303F;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #984cac;
}

.dropdown:hover .dropdown-content {
    display: block;

}


* {
    box-sizing: border-box;
    line-height: 1.1em;
}

div.home {
    display: block;
    margin: 10px auto;
    margin: 2%;

}

.header-img {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

/*Button styles*/
.button {
    background-color: #5a2666;
    border: none;
    color: white;
    padding: .75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    border-radius: 30px;
    width: 35%;
    margin: auto;
    margin-bottom: 2rem;
}

/*Home page article styles*/
.home-temple {
    border: solid 2px #744F2D;
    padding: 10px 30px;
}

article img {
    display: block;
    width: 88%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}



/*Contact Info Styles*/
.contact-info {
    background-color: #2F303F;
    color: #fff;
    padding: 3%;
    line-height: .8em;
}

.social-icon {
    width: 2em;
    display: inline-block;
}

.office {
    display: none;
}


footer {
    background-color: #c4f8ed;
    display: block;
    font-size: 0.8rem;
    padding: 1% 0% 1% 0%;
    text-align: center;
    justify-content: center;
}

/*Temple info page styles*/
.temple-info img {
    display: block;
    width: 100%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 50px #333;
}

.weather-summary {
    display: block;
    width: 88%;
    background-color: #2F303F;
    padding: .5rem 2rem;
    color: white;
    line-height: 1em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.temple-info {
    margin: 2%;
}

.closures {
    margin-bottom: 1rem;
}

/*Reception Page Styles*/
.reception img {
    width: 100%;
    padding: 2%;
}

.reception p {
    padding: 2%;
}

/*Temple Missionaries Page Styles*/

.missionaries img {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1rem;
}

.missionaries form {
    background-color: #2F303F;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.missionaries .top {
    color: white;
    font-size: 14px;
}

.missionaries fieldset {
    margin: 2rem 0;
    border: 2px solid #FFFF00;
    border-radius: 10px;
    padding: 1% 5%;

}

.missionaries .submit-button {
    background-color: #FFFF00;
    color: black;
    font-weight: bold;
}

.missionaries h3 {
    font-size: 2rem;
}

.response h1,
.response p {
    text-align: center;
}

.response h1 {
    margin-top: 50%;
}

/*Services page styles*/
.services img {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1rem;
}

.services p,
.services a {
    margin-left: 2%;
    margin-right: 2%;
}

thead {
    font-weight: bold;

}

/*Contact Page Styles*/
.mapouter {
    display: block;
    width: 100%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}
.contact img {
    width: 40%;
    padding-bottom: 2rem;
}

.contact p, .contact h4 {
    margin-left: 2%;
}

.contact-page-form {
    background-color: #2F303F;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .contact-page-form .top {
      color: white;
      font-size: 14px;
  }

  .contact-page-form fieldset {
      margin: 2rem 0;
      border: 2px solid #FFFF00;
      border-radius: 10px;
      padding: 1% 5%;
       }

       

  .contact-page-form .submit-button {
      background-color: #FFFF00;
      color: black;
      font-weight: bold;
  }

  .contact-page-form h3 {
      font-size: 2rem;
  }

  dt {
      
      text-decoration: underline;
  }

  * {
    margin: 0;
    padding: 0;
 }
 
 body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: #656565;
    text-align: center;
 }
 
 a {
    color: #012A36;
    text-decoration: none;
 }
 
 img {
    display: block;
 }
 
 .welcome-wrap {
    margin-top: 25px;
 }
 
 #welcome-image {
    display: none;
 }
 
 .text-wrap h2 {
    text-align: center;
 }
 
 .parallax-div-wrap {
    max-width: 800px;
    background-color: #b6eea6;
    max-height: 250px;
    padding: 25px;
    border-radius: 50%;
 }
 
 p {
    margin: 20px;
    line-height: 1.2rem;
 }
 
 h1, h2 {
    font-family: 'Great Vibes', cursive, sans-serif;
    color: #012A36;
    font-size: 3em;
    margin: 25px;
 }
 
 h3, h4 {
    font-size: 2em;
 }
 
 .quote {
    padding: 5px 3rem 5px 3rem;
 }
 
 .parallax-quote, .quote {
    font-family: 'Great Vibes', cursive, sans-serif;
    color: #012A36;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
 }
 
 h1 {
    font-size: 2.5em;
    margin-top: 20px;
 }
 
 .mySlides a {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 5px 3rem 5px 3rem;
    font-family: 'Great Vibes', sans-serif;
    color: #012A36;
 }
 
 picture {
    margin: 0px;
    display: block;
 }
 
 
 .responsive {
    display: block;
    list-style: none;
 }
 
 ul li {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5em;
 }
 
 section {
    text-align: left;
    padding: 10px;
    font-size: 0.8em;
 }
 
 .two-column {
    max-width: 400px;
    margin: 0 auto;
  }
 
  .two-column div {
     margin-bottom: 25px;
  }
 
 .featured, .featured-portal {
    margin: 25px auto;
    border-radius: 8px;
     }
 
 .featured-wrap {
  text-align: center;
 }
 .hero-image {
    background-color: #D8D0C1;
    width: 100%;
    margin-bottom: 10px;
 }
 
 
 
 
 .hero-image img {
    width: 100%;
    margin: 0 auto;
 }
 
 .img-wrap {
    max-width: 480px;
    margin: 0 auto;
 }
 
 .outer-wrap {
    background-color: #CBB8A9;
    width: 100%;
 }
 
 .inner-wrap {
    color: #012A36;
    background-color: #D8D0C1;
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
 }
 
 button {
    font-size: 1rem;
    color: #FFF;
    background-color: #012A36;
    border: none;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin: 25px;
 }
 
  .spotlight {
    width: 100%;
    color: #012A36;
    background-color: #D8D0C1;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
  }
 
  .spotlight-head {
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: #CBB8A9;
    width: 100%;
  }
 
  .mySlides {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    padding-bottom: 1em;
    background-color: #CBB8A9;
  }
 
  .mySlides h2 {
     text-align: left;
  }
 
  .mySlides picture img {
     margin: 0 auto 25px auto;
  }
 
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #012A36;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  
  .next {
    border-radius: 3px 0 0 3px;
    grid-column-start: 3;
    grid-row-start: 2;
    height: 40px;
    text-align: center;
  }
  
  .prev {
    grid-column-start: 1;
    grid-row-start: 2;
    height: 40px;
    text-align: center;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(203, 184, 169, 8);
  }
  
 
 
 .dotbox {
    text-align: center;
 }
 
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  
 .form-meat label {
    font-weight: normal;
 }
 
 .form-shell li, .form-meat {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
 }
 
 .form-shell > li > label, .form-shell li p {
   flex: 1 0 120px;
   max-width: 220px;
   margin: 10px;
 }
 
 .form-shell > li > label + *, .form-shell {
   flex: 1 0 220px;
 }
 
 .form-shell li button {
    margin-left: auto;
    padding: 8px 16px;
  }
 
  .form-meat li, .form-skin li {
    margin: 5px;
    flex: 1 100px;
  }
 
  .form-meat, .form-skin li {
    justify-content: space-between;
  }
 
  .form-skin li {
     width: 50px;
     display: inline;
  }
 
  .form-skin label {
    font-weight: normal;
  }
 
  
  iframe {
    width: 100%;
    height: 90%;
  }
 
  .center {
     margin: 25px auto;
  }
 
  .temple-page-bubble {
    max-width: 250px;
    background-color: #D8D0C1;
    padding: 25px;
    margin: 25px auto;
    border-radius: 8px;
    justify-self: center;
 }
 
 .temple-page-bubble h3 {
    margin-bottom: 25px;
 }
 
 .temple-page-bubble li {
  line-height: 1.5em;
  list-style-type: none;
 }
 
 .temple-page-bubble li img {
    display: inline;
   }
 
 .bubble {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    border-radius: 8px;
 }
 
 .bubble li, h3 {
    line-height: 1.5em;
    list-style-type: none;
 }
 
 #item4 {
    display: block;
    max-width: 900px;
    background-color: #D8D0C1;
    margin: 0 auto;
    padding: 25px;
    font-size: 1rem;
    border-radius: 8px;
 }
 
 #item1, #item2, #item3 {
    max-width: 100%;
 }
 
 #item4 h3, #item4 img {
    display: inline;
 }
 
 #item4 ul {
    background-color: #CBB8A9;
    color: #012A36;
    list-style-type: none;
    padding: 25px;
    max-width: 600px;
    margin: 0 auto;
 }
 