@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

main{
    background-color: #9aaa96;
} .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-gap: .2em;
} section {
    text-align: center;
    background-color: #b8b9cc;
    padding: 1rem;
    border: .1em solid #52548f;
} section img {
    max-width: 75%;
    box-shadow: 3px 3px 20px 6px #b6b6b6);
    margin: 1em;
} h1, h2 {
    font-family: 'Roboto Slab', serif;
} h1{
    color:#4e519a;
} h2{
    color: #5a5b9f;
    margin: .5rem;
} p {
    font-family: 'Verdana';
    margin: 0;
    padding: .2rem;
} .grad {
    margin: 0;
    width: 100%;
    background-color: #dadbec;
    background-image: linear-gradient(white, #d1d1d2);
    text-align: center;
    font-family: 'Roboto Slab', serif;
} .grad h1 {
    padding: .6rem;
}