#content { 
    max-width: 960px; 
    margin: 0 auto; 
      font-family: 'Actor', sans-serif;
    background-color:   #CBEEEE; 
    }
    nav { 
    background-color:  #AA4586; 
    }
    nav a {
    color: #A9FFCB;
    text-decoration:  none; 
    }
    nav {
      background-color: #009393;
      font-size: 1.5em;
      line-height: 1em;
      padding: 1em;
    } 
    nav li {
    list-styLe-type: none; 
    }
    #sec1, #sec2, footer {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
    }
    .sec1 { 
      text-align:right;
    background-color:  #B6EEA6;
    } 
    .sec3 {
    text-align:  left;
    }
    h1 { 
    padding:  10px; 
      color: #A43312; 
      text-align: left;
      font-family: 'Rock Salt', papyrus, fantasy;
      font-size: 2em;
      line-height: 1em; 
      }
    h2 { 
    padding:  10px; 
      color: #A43312; 
      text-align: center;
      font-family: 'Rock Salt', papyrus, fantasy;
      font-size: 2em;
      line-height: 1em; 
    }
    h3  { 
    padding:  10px; 
      color: #A43312; 
      text-align: center;
      font-family: 'Rock Salt', papyrus, fantasy;
      font-size: 2em;
      line-height: 1em; 
    }
    p {
    padding:  10px; 
      font-size:23px;
      line-height:1.2em;
    color: #B27294;
    }
    .leftcol, .rightcol {
      width: 48%;
      flex: 1 0 15em;
      margin: .5em;
    }
    .pspec { 
      font-size: 22px;
      font-style:italic;
      color:  #AA4586;
    }
    #logo { 
    width: 200px; 
    } 
    #banner {
    width: 100%;  
    }
    
    #img1, #img2  { 
    width: 450px; 
    padding: 10px;
    }
    #img1 {
      float: right;
    }
    .socialmedia { 
    padding: 15px; 
    }
    .icon {
    width: 75px; 
    height: 75px; 
    }