#content { 
    max-width: 960px; 
    margin: 0 auto; 
      font-family: 'Actor', sans-serif;
    background-color:   #CBEEEE; 
    }
    nav a {
    color: #A9FFCB;
    text-decoration:  none;
      padding: 1em .6em;
    }
    nav {
      background-color: #009393;
      font-size: 1.5em;
      line-height: 3em;
      padding: 1em;
      margin-top: .01;
    } 
    nav li {
    list-styLe-type: none; 
    }
    #sec1, #sec2, footer {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
    }
    .sec1 { 
      text-align:right;
    background-color:  #B6EEA6;
    } 
    .sec3 {
    text-align:  left;
    }
    h1 { 
    padding:  10px; 
      color: #A43312; 
      text-align: left;
      font-family: 'Rock Salt', papyrus, fantasy;
      font-size: 2em;
      line-height: 1em; 
      }
    h2 { 
    padding:  10px; 
      color: #A43312; 
      text-align: center;
      font-family: 'Rock Salt', papyrus, fantasy;
      font-size: 2em;
      line-height: 1em; 
    }
    h3  { 
    padding:  10px; 
      color: #A43312; 
      text-align: center;
      font-family: 'Rock Salt', papyrus, fantasy;
      font-size: 2em;
      line-height: 1em; 
    }
    h4 { 
    padding:  10px; 
      color: #A43312; 
      text-align: left;
      font-family: 'Helvetica', papyrus, fantasy;
      font-size: 2em;
      line-height: 1em;
      margin: 0 auto;
    }
    p {
    padding:  10px; 
      font-size:23px;
      line-height:1.2em;
    color: #B27294;
    }
    .leftcol, .rightcol, .rightcol3 {
      width: 48%;
      flex: 1 0 15em;
      margin: .5em;
    }
    .pspec { 
      font-size: 22px;
      font-style:italic;
      color:  #AA4586;
    }
    #logo { 
    width: 200px; 
      position: relative;
      background: blue;
      padding: 1% 2%;
      border-radius: 10px;
    } 
    #banner {
    width: 95%; 
      height: 80%; 
      margin: .5em ;
      padding: 15px;
      margin-top: 0;
      border-radius: 10px;
    }
    #top-row {
      display:flex;
      flex-flow: row wrap;
      align-items: center;
    }
    #middle-row {
      display:flex;
      flex-flow: row wrap;
      align-items: center;
    
    }
     
    #section1, #section2 {
      display: flex;
      flex-flow: row wrap;
    }
    img {
      max-width: 100%;
    }
    .leftcol, .righcol {
      width: 48%;
      flex: 1 0 15em;
      margin: .5em;
    }
    .leftcol2 {
      width: 68%;
      flex: 1 0 15em;
      margin: .1em;
    }
    .rightcol2 {
      width: 24%;
      flex: 1 0 15em;
      margin: .1em;
    }
    .middlecol2 {
      width: 26%;
      flex: 1 0 15em;
      margin: .1em;
    }
    .rightcol1 {
    list-style: none;
    text-decoration:none;
    display:inline-block;  
    position: relative;
    }
    .rightcol3 {
    list-style: none;
    text-decoration:none;
    display:inline-block;
    margin: 1% 1% 1% 50%;
    }
    a:hover {
      color: green;
    }
    nav ul {
      display: flex;
      font-size: 1.1em;
      line-height: 1.2em;
      margin: 0;
    } 
    #img1, #img2  { 
    width: 450px; 
    padding: 3% 5%;
      border-radius: 10px;
    }
    #img3 {
      float: right;
      border-radius: 10px;
      margin-right: 2%;
      margin-bottom: 2%;
    }
    #img4 {
      width: 80%;
      float: right;
      margin-right: 10%;
      margin-bottom: 2%;
      border-radius: 10px;
    }
    .socialmedia { 
    padding: 15px; 
    }
    .icon {
    width: 75px; 
    height: 75px; 
    left: 100%
    }