.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

main,
footer {

  max-width: 2000px;
  margin: initial;
  padding: 10px;
}

figure img {
  width: 100%;
}


.container figcaption {
  font-size: smaller;
  padding: 1em;

}


/*Blur placeholder*/
figure img[data-src] {
  filter: blur(0.5em);
}

/*remove blur after .5sec to achieve loading effect*/
figure img {
  filter: blur(0em);
  transition: filter 0.8s;
}

