/**********************Media Query for Medium and Large Screens************/
@media only screen and (min-width: 56em) {
    h1 {
        font-size: 3rem;
    }

    .logo-image {
        width: 8rem;
        height: auto;
    }

   

    .container figure:hover {
        box-shadow: 0 0 50px #333;
    }

  