body {
    font-size: 16px;
    font-family: 'Merriweather', serif;
}

aside {
    background-color: rgb(250, 224, 78);
    font-weight: bold;
    padding: 1rem;
    font-size: .75rem;

}

header{
    display:flex;
    align-items:left;
    justify-content:left;
    background-color:#ffffff;
    color:#de2226;
    padding: 10px;
}

main,
footer {
    max-width: 767px;
    margin: 0 auto;
}

.logo-image {
    width: 5rem;
    height: auto;
    margin: 2.5%;
}

.banner {
    display: flex;
    flex-direction: column;
}

.banner h1 {
    margin: 0 0 10px 25px;
}

.motto {
    font-style: italic;
    margin-left: 20px;
    font-size: .9rem;
    padding-top: .5em;
    color: rgb(26, 47, 142);
}

h1 {
    font-size: 2rem;
    color: rgb(26, 47, 142);
}

h2 {
    color: rgb(26, 47, 142);
    font-size: 2rem;
    padding-left: 10px;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
}

nav {
    background-color: #de2226;
    text-align: center;
    box-shadow: 0 2px 15px gray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    background-color: #b6eea6;
}

.active {
    color: yellow;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

* {
    box-sizing: border-box;
    line-height: 1.1em;
}



footer {
    background-color: #ffffff;
    display: block;
    font-size: 0.8rem;
    padding: 1% 0% 1% 0%;
    text-align: center;
    justify-content: center;
}

/*Home Page Styles*/

#home {
    margin-left: 1em;
    margin-right: 1em;
}

.headerimg {
    display: none;
}


.other img {
    width: 50%;
    align-items: center;
    margin: 0 2em 0 2em;
}